.button {
    background-color: $secondery-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &__title {
        display: inline-flex;
        color: $body-color;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        align-items: center;
        letter-spacing: 0.06em;
        text-decoration: none;
    }

    &__icon {
        margin-left: 10px;
        fill: $body-color;
    }
}



